version: '3'

services:
  db:
    image: postgres:11.2
    volumes:
      - ./local/initdb:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: chummy
    ports:
      - "5432:5432"
    expose:
      - "5432"
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    restart: always
  redis:
    image: redis:latest
  web:
    image: notification-api
    restart: always
    build:
      context: .
      dockerfile: local/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:chummy@db:5432/notification_api
    entrypoint: local/scripts/notify-web-entrypoint.sh
    command: >
      bash -c "make generate-version-file && flask run -p 6011 --host=0.0.0.0"
    volumes:
      - .:/app
    ports:
        - "6011:6011"
    depends_on:
      - db
      - redis
  beat:
    image: notification-api
    restart: on-failure
    build:
      context: .
      dockerfile: local/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:chummy@db:5432/notification_api
    entrypoint: local/scripts/notify-worker-entrypoint.sh
    command: >
      bash -c "sh scripts/run_celery_beat.sh"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
  worker:
    image: notification-api
    restart: on-failure
    build:
      context: .
      dockerfile: local/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:chummy@db:5432/notification_api
    entrypoint: local/scripts/notify-worker-entrypoint.sh
    command: >
      bash -c "[[ -f /tmp/celery.pid ]] && rm /tmp/celery.pid; sh /app/scripts/run_celery.sh"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
  worker_sms:
    image: notification-api
    restart: on-failure
    build:
      context: .
      dockerfile: local/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:chummy@db:5432/notification_api
    entrypoint: local/scripts/notify-worker-entrypoint.sh
    command: >
      bash -c "sh /app/scripts/run_celery_sms.sh"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
  tests:
    image: notification-api-tests
    restart: "no"
    build:
      context: .
      dockerfile: ci/Dockerfile.test
    environment:
      - REDIS_URL=redis://redis:6379/1
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:chummy@db:5432/test_notification_api
    entrypoint: local/scripts/notify-worker-entrypoint.sh
    command: >
      bash -c "/app/scripts/run_celery.sh"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
