version: '2'

services:
  postgres:
    image: postgres:11.2
    volumes:
      - ./data:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
  web:
    image: notification-api
    restart: on-failure
    build:
      context: ./
      dockerfile: ci/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:postgres@postgres:5432/postgres
    command: >
      bash -c "make generate-version-file && flask run -p 6011 --host=0.0.0.0"
    volumes:
      - .:/app
    ports:
        - "6011:6011"
    depends_on:
      - postgres
      - redis
  beat:
    image: notification-api
    restart: on-failure
    build:
      context: ./
      dockerfile: ci/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:postgres@postgres:5432/postgres
    command: >
      bash -c "sh scripts/run_celery_beat.sh"
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
      - web
  worker:
    image: notification-api
    restart: on-failure
    build:
      context: ./
      dockerfile: ci/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:postgres@postgres:5432/postgres
    command: >
      bash -c "sh scripts/run_celery.sh"
    volumes:
      - .:/app
    tmpfs:
      - /tmp
    depends_on:
      - postgres
      - redis
      - web
  worker_sms:
    image: notification-api
    restart: on-failure
    build:
      context: ./
      dockerfile: ci/Dockerfile
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:postgres@postgres:5432/postgres
    command: >
      bash -c "sh scripts/run_celery_sms.sh"
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
      - web
  tests:
    image: notification-api-tests
    restart: "no"
    build:
      context: ./
      dockerfile: ci/Dockerfile.test
    environment:
      - REDIS_URL=redis://redis:6379/1
      - SQLALCHEMY_DATABASE_URI=postgres://postgres:postgres@postgres:5432/test_notification_api
    command: >
      bash -c "./scripts/run_tests.sh"
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
