# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

cffi==1.14.0
celery[sqs]==4.4.0
docopt==0.6.2
fido2==0.7.0
Flask-Bcrypt==0.7.1
flask-marshmallow==0.11.0
Flask-Migrate==2.5.2
git+https://github.com/mitsuhiko/flask-sqlalchemy.git@500e732dd1b975a56ab06a46bd1a20a21e682262#egg=Flask-SQLAlchemy==2.3.2.dev20190108
Flask==1.1.1
click-datetime==0.2
eventlet==0.30.2    # Can't use 0.31.0 as Gunicorn does not yet support it. (https://github.com/benoitc/gunicorn/pull/2581)
gunicorn==20.0.4
iso8601==0.1.13
jsonschema==3.2.0
marshmallow-sqlalchemy==0.22.2
marshmallow==2.20.5
python-magic==0.4.15
psycopg2-binary==2.8.4
pycurl==7.43.0
PyJWT==2.0.0
SQLAlchemy==1.3.19
sentry-sdk[flask]==0.10.2
validatesns==0.1.1
cachelib==0.1
Authlib==0.15.3
flask-jwt-extended==4.1.0
flask-cors==3.0.10

newrelic==5.12.0.140
notifications-python-client==5.7.1
python-dotenv==0.10.3
pwnedpasswords==2.0.0
sendgrid==6.8.1
tldextract==2.2.1
twilio==6.16
nanoid==2.0.0
unidecode==1.1.1


# Putting upgrade on hold due to v1.0.0 using sha512 instead of sha1 by default
itsdangerous==0.24

git+https://github.com/department-of-veterans-affairs/notification-utils.git@1.0.59#egg=notification-utils==1.0.59

# MLWR
socketio-client==0.5.6
pycryptodome==3.9.8

git+https://bitbucket.org/cse-assemblyline/assemblyline_client.git@v3.7.3#egg=assemblyline_client==v3.7.3
