# This is used to create Postgres stored functions via the migrations process.
alembic_utils>=0.7.7

Authlib>=1.0.1
boto3>=1.24.18
botocore>=1.27.18
cachelib>=0.9.0

# 5 May 2022: Ignoring security vulnerabilities 42498 and 43738 in Makefile.
# One is fixed in version 5.2.0; the other, 5.2.2.
celery[sqs]>=4.4.7

# 5 May 2022: This package requires click, which has a security vulnerability 47833
# ignored in Makefile.  The vulnerability is fixed in click>=8.0.
click-datetime>=0.2

docopt>=0.6.2

# 10 May 2022: Newer versions--even 0.30.3--cause import errors.
eventlet==0.30.2

# 9 June 2022: Flask raises ImportError with higher versions.
fido2 < 1.0.0

Flask < 2.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.1.0
flask-marshmallow==0.11.0
Flask-Migrate==2.5.2
git+https://github.com/department-of-veterans-affairs/notification-utils.git@1.0.66#egg=notification-utils==1.0.66

# 5 May 2022: Requiring Flask-SQLAlchemy version 2.3.2, 2.5, or 3.0 causes test failures via database
# errors about foreign key constraint violations.
git+https://github.com/mitsuhiko/flask-sqlalchemy.git@500e732dd1b975a56ab06a46bd1a20a21e682262#egg=Flask-SQLAlchemy==2.3.2.dev20190108

# The production image defined by Dockerfile uses Gunicorn.  The development image defined by Dockerfile.local
# runs the application with the Flask development server by default.
# 9 May 2022: Newer versions cause build or runtime issues.
gunicorn[eventlet] < 20.1.0

iso8601>=1.0.2
itsdangerous>=1.1.0
jsonschema>=4.5.1

# 5 May 2022: Celery depends on this package, and the Docker image build failed with the newest version.
# Ignoring security vulnerability 42497 in Makefile.  The vulnerability is fixed in kombu>=5.2.1.
kombu < 5.0

# 3 May 2022:  Flask 1.1.4 depends on this package but does not support more recent versions.
MarkupSafe==2.0.1

marshmallow==2.20.5
marshmallow-sqlalchemy==0.22.2
nanoid>=2.0.0
notifications-python-client>=6.3.0
psycopg2-binary>=2.9.3
pwnedpasswords>=2.0.0
PyJWT>=2.4.0

# 27 June 2022: Flask raises ImportError with newer versions.  notification-utils version 1.0.66 also raises
# import errors with newer versions, but that package can be updated to version 1.1.0 if we upgrade Flask.
PyPDF2 < 2.0.0

python-dotenv>=0.20.0
python-magic>=0.4.27

# jsonschema requires this package to validate the date-time format but doesn't include it as a dependency.
# Validation fails silently without it.
# https://python-jsonschema.readthedocs.io/en/latest/validate/?highlight=date-time#validating-formats
rfc3339-validator>=0.1.4

sentry-sdk[flask]>=1.6.0
SQLAlchemy < 1.4
twilio>=7.9.3
Unidecode>=1.3.4
validatesns>=0.1.1
