boto3==1.24.26
psycopg2-binary==2.9.3

# https://pyjwt.readthedocs.io/en/stable/installation.html#installation-cryptography
# When this is upgraded, also upgrade the version in requirements_for_test.txt.
PyJWT[crypto]==2.4.0
