TWILIO_ACCOUNT_SID=add value
TWILIO_AUTH_TOKEN=add value
TWILIO_FROM_NUMBER=add value

SQLALCHEMY_DATABASE_URI=postgresql://postgres:LocalPassword@db:5432/notification_api
NOTIFY_ENVIRONMENT=development
FLASK_APP=application.py

AWS_ACCESS_KEY_ID=foo
AWS_SECRET_ACCESS_KEY=bar

NOTIFICATION_QUEUE_PREFIX='vanotify-'

BROKER_URL=sqs://foo:bar@localstack:4566

GRANICUS_TOKEN=

VA_PROFILE_URL=http://host.docker.internal:7005
GRANICUS_URL=http://host.docker.internal:7006
MPI_URL=http://host.docker.internal:7007

VANOTIFY_SSL_CERT="CERT-FILE"
VANOTIFY_SSL_KEY="KEY-FILE"
VANOTIFY_SSL_CERT_PATH=certs/ssl_cert.pem
VANOTIFY_SSL_KEY_PATH=certs/ssl_key.pem

ACCEPT_RECIPIENT_IDENTIFIERS_ENABLED='True'
PROVIDER_STRATEGIES_ENABLED=True

EMAIL_PROVIDER_SELECTION_STRATEGY_LABEL=LOAD_BALANCING
AWS_SES_ENDPOINT_URL=http://host.docker.internal:4566