version: "3"
services:
  app:
    build:
      context: ..
      dockerfile: ci/Dockerfile
    ports:
      - 6011:6011
    environment:
      - TWILIO_ACCOUNT_SID=
      - TWILIO_AUTH_TOKEN=
      - TWILIO_FROM_NUMBER=0123456789
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:LocalPassword@db:5432/notification_api
      - NOTIFY_ENVIRONMENT=development
      - FLASK_APP=application.py
    depends_on:
      - db
  db:
    image: postgres:11
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=LocalPassword
      - POSTGRES_DB=notification_api
  migrations:
    build:
      context: ..
      dockerfile: migrations/Dockerfile
    environment:
      - TWILIO_ACCOUNT_SID=
      - TWILIO_AUTH_TOKEN=
      - TWILIO_FROM_NUMBER=0123456789
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:LocalPassword@db:5432/notification_api
      - NOTIFY_ENVIRONMENT=development
      - FLASK_APP=application.py
    depends_on:
      - db
