name: Build and Push dev Branch images to Dev
# , Staging and Prod ECRs

on:
  workflow_dispatch:
  push:
    branches:
      - dev

env:
  AWS_DEFAULT_REGION: ca-central-1

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ${{ matrix.target }} image
    strategy:
      fail-fast: false
      matrix:
        target: ["lambda", "k8s"]

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: dev

      - name: Set image parameters
        id: img
        run: |
          if [ "${{ matrix.target }}" = "lambda" ]; then
            echo "image=api-lambda" >> "$GITHUB_OUTPUT"
            echo "dockerfile=ci/Dockerfile.lambda" >> "$GITHUB_OUTPUT"
          else
            echo "image=api" >> "$GITHUB_OUTPUT"
            echo "dockerfile=ci/Dockerfile" >> "$GITHUB_OUTPUT"
          fi

      - name: Build container image
        run: |
          docker build \
            --build-arg GIT_SHA=${GITHUB_SHA::7} \
            -t ${{ steps.img.outputs.image }}:${GITHUB_SHA::7} \
            -f ${{ steps.img.outputs.dockerfile }} \
            .

      - name: Save image as tarball
        run: |
          docker save ${{ steps.img.outputs.image }}:${GITHUB_SHA::7} \
            -o /tmp/${{ steps.img.outputs.image }}.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.img.outputs.image }}-image
          path: /tmp/${{ steps.img.outputs.image }}.tar
          retention-days: 1

  push-k8s-dev:
    name: Push K8s image to Dev ECR
    needs: build
    uses: ./.github/workflows/reusable_push_ecr.yml
    with:
      image-name: api
      image-tag-sha: ${{ github.sha }}
      aws-region: ca-central-1
      branch-name: ${{ github.ref_name }}
      env-name: dev
    secrets:
      account-id: ${{ secrets.DEV_AWS_ACCOUNT_ID }}

  push-lambda-dev:
    name: Push Lambda image to Dev ECR
    needs: build
    uses: ./.github/workflows/reusable_push_ecr.yml
    with:
      image-name: api-lambda
      image-tag-sha: ${{ github.sha }}
      aws-region: ca-central-1
      branch-name: ${{ github.ref_name }}
      env-name: dev
    secrets:
      account-id: ${{ secrets.DEV_AWS_ACCOUNT_ID }}

  # push-k8s-staging:
  #   name: Push K8s image to Staging ECR
  #   needs: build
  #   uses: ./.github/workflows/reusable_push_ecr.yml
  #   with:
  #     image-name: api
  #     image-tag-sha: ${{ github.sha }}
  #     aws-region: ca-central-1
  #     branch-name: ${{ github.ref_name }}
  #     env-name: staging
  #   secrets:
  #     account-id: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}

  # push-lambda-staging:
  #   name: Push Lambda image to Staging ECR
  #   needs: build
  #   uses: ./.github/workflows/reusable_push_ecr.yml
  #   with:
  #     image-name: api-lambda
  #     image-tag-sha: ${{ github.sha }}
  #     aws-region: ca-central-1
  #     branch-name: ${{ github.ref_name }}
  #     env-name: staging
  #   secrets:
  #     account-id: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}

  # push-k8s-prod:
  #   name: Push K8s image to Prod ECR
  #   needs: build
  #   uses: ./.github/workflows/reusable_push_ecr.yml
  #   with:
  #     image-name: api
  #     image-tag-sha: ${{ github.sha }}
  #     aws-region: ca-central-1
  #     branch-name: ${{ github.ref_name }}
  #     env-name: prod
  #   secrets:
  #     account-id: ${{ secrets.PROD_AWS_ACCOUNT_ID }}

  # push-lambda-prod:
  #   name: Push Lambda image to Prod ECR
  #   needs: build
  #   uses: ./.github/workflows/reusable_push_ecr.yml
  #   with:
  #     image-name: api-lambda
  #     image-tag-sha: ${{ github.sha }}
  #     aws-region: ca-central-1
  #     branch-name: ${{ github.ref_name }}
  #     env-name: prod
  #   secrets:
  #     account-id: ${{ secrets.PROD_AWS_ACCOUNT_ID }}

  update-manifest:
    name: Update Manifests Dev Image Tag
    needs: [push-k8s-dev, push-lambda-dev]
    runs-on: ubuntu-latest
    steps:
      - name: Update Dev Image Tag in Manifests Repo
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.MANIFESTS_WORKFLOW_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/cds-snc/notification-manifests/dispatches \
            -d "{\"event_type\":\"update-docker-image-dev\",\"client_payload\":{\"component\":\"API\",\"docker_tag\":\"${GITHUB_SHA::7}\"}}"
          echo "Triggered update-docker-image-dev workflow in notification-manifests repo"