name: Build, push to GCR, and deploy
on:
  push:
    branches:    
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and push
    steps:
    - uses: actions/checkout@master
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '270.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCLOUD_AUTH }}
    - run: |
        gcloud auth configure-docker
    - name: Build
      run: |        
        docker build --build-arg GIT_SHA=${GITHUB_SHA::7} -t gcr.io/cdssnc/notify/api:${GITHUB_SHA::7} -t gcr.io/cdssnc/notify/api:latest -f ci/Dockerfile .
    - name: Publish
      run: |
        docker push gcr.io/cdssnc/notify/api:latest && docker push gcr.io/cdssnc/notify/api:${GITHUB_SHA::7}
    - name: EKS
      uses: docker://gcr.io/cdssnc/aws:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: eks --region ca-central-1 update-kubeconfig --name notification-staging-2020-04-01
    - name: Apply
      uses: docker://gcr.io/cdssnc/aws-kubectl:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: set image deployment.apps/api api=gcr.io/cdssnc/notify/api:${GITHUB_SHA::7} -n=notification-canada-ca --kubeconfig=/github/home/.kube/config
    - name: Apply celery
      uses: docker://gcr.io/cdssnc/aws-kubectl:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: set image deployment.apps/celery celery=gcr.io/cdssnc/notify/api:${GITHUB_SHA::7} -n=notification-canada-ca --kubeconfig=/github/home/.kube/config
    - name: Apply celery-beat
      uses: docker://gcr.io/cdssnc/aws-kubectl:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: set image deployment.apps/celery-beat celery-beat=gcr.io/cdssnc/notify/api:${GITHUB_SHA::7} -n=notification-canada-ca --kubeconfig=/github/home/.kube/config
    - name: Apply celery-sms
      uses: docker://gcr.io/cdssnc/aws-kubectl:latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        args: set image deployment.apps/celery-sms celery-sms=gcr.io/cdssnc/notify/api:${GITHUB_SHA::7} -n=notification-canada-ca --kubeconfig=/github/home/.kube/config
    - uses: cds-snc/notification-pr-bot@master
      env:
        TOKEN: ${{ secrets.TOKEN }}