name: Generate SBOM

on:
  pull_request:
    branches:
      - main
    paths:
      - requirements.txt
      - .github/workflows/generate_sbom.yml
  push:
    branches:
      - main
    paths:
      - requirements.txt
      - .github/workflows/generate_sbom.yml

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@e2f20e631ae6d7dd3b768f56a5d2af784dd54791 # v2.5.0

      - name: Generate app SBOM
        uses: cds-snc/security-tools/.github/actions/generate-sbom@4c6b386722985552f3f008d04279a3f01402cc35 # renovate: tag=v1
        with:
          dependency_track_api_key: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          project_name: notification-api/app
          project_type: python        
