name: Release to Prod
on:
  release:
    types: [released]

jobs:
  setup-release:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.tag.outputs.version }}
    steps:
      - name: Init
        run: |
          echo Deploy starting
          # this allows for blame
          echo ${{ github.actor }}
      - name: Check release and env values
        run: |
          echo "Release tag: ${{ github.event.release.tag_name }}"	          
          echo "Release name: ${{ github.event.release.name }}"
          echo "string check: release (prod)?: ${{ github.event.action }}"

  release:
    needs: [setup-release]
    uses: ./.github/workflows/release.yml
    with:
      environment: "prod"
      git-tag: "${{ github.event.release.tag_name }}"
    secrets: inherit

  run-qa-suite:
    needs: [release]
    uses: ./.github/workflows/run-regression.yml
    with:
      environment: "prod"
    secrets: inherit