name: Test workflow

on:
  workflow_run:
    workflows: 
      - Development CI
      - dev-ci.yaml
    branches: [master, deployments-with-tags]
    types: 
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
