name: Running Tests

on:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_notification_api
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Install libcurl
        run: sudo apt-get update && sudo apt-get install libssl-dev libcurl4-openssl-dev

      - uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Run tests
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_PINPOINT_APP_ID: AWS_PINPOINT_APP_ID
          AWS_REGION: us-east-1
          AWS_SECRET_ACCESS_KEY: test
          AWS_SECURITY_TOKEN: test
          AWS_SESSION_TOKEN: test
          DATABASE_URI_PATH: DATABASE_URI_PATH
          DEAD_LETTER_SQS_URL: DEAD_LETTER_SQS_URL
          LOG_LEVEL: DEBUG
          NOTIFY_ENVIRONMENT: test
          RETRY_SQS_URL: RETRY_SQS_URL
          SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres@localhost/test_notification_api
          TIMEOUT: 10
          VA_PROFILE_DOMAIN: int.vaprofile.va.gov
          VETEXT_API_AUTH_SSM_PATH: test
        run: /bin/bash -c "pip install -r requirements.txt -r requirements_for_test.txt && make test"

  code-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - run: make check-vulnerabilities

  dependency-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - run: make check-dependencies
